.go__btn {
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  text-decoration: none;
  min-height: 60px;
  padding: 10px 15px;
  justify-content: center;
  &--red {
    background-color: #cc0000;
    &::after,
    &::before {
      background-color: #ba0000;
    }
  }
  span {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    position: relative;
    z-index: 10;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    margin-left: 30px;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out 0.2s;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    transform-origin: center center;
    transform: skew(45deg, 0);
    height: 100%;
    width: 60px;
    transition:  all 0.2s ease-in-out 0.3s;
  }
  &--size1 {
    width: 245px;
  }
  &:hover {
    &::after {
      margin-left: 0;
      left: 0;
    }
    &::before {
      transform: skew(0, 0);
      transition-delay: 0s;
    }
  }

}