.go__btn {
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  text-decoration: none;
  min-height: 60px;
  padding: 10px 15px;
  justify-content: center;
  &--h40 {
    min-height: 40px;
    padding: 5px 10px;
  }
  &--red {
    background-color: #ba0000;
    color: #fff;
    &::after,
    &::before {
      background-color: #cc0000;
    }
  }
  &--black {
    background-color: #2a2a2a;
    &::after,
    &::before {
      background-color: #383838;
    }
  }
  span {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    position: relative;
    z-index: 10;
  }
  .icon {
    color: #fff;
    position: relative;
    z-index: 10;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 50%;
    margin-right: 30px;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out 0.2s;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 50%;
    transform-origin: center center;
    transform: skew(45deg, 0);
    height: 100%;
    width: 60px;
    transition:  all 0.2s ease-in-out 0.3s;
  }
  &--size1 {
    width: 245px;
  }
  &:hover {
    &::after {
      margin-right: 0;
      right: 0;
    }
    &::before {
      transform: skew(0, 0);
      transition-delay: 0s;
    }
  }

}
.go__soc {
  li:not(:last-child) {
    margin-right: 20px;
  }
  &__item {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    background: #383838;
    color: #fff;
    &:hover {
      background: #cc0000;
      color: #fff;
    }
  }
}
.go__counter-box {
  height: 40px;
  width: 100%;
  position: relative;
  &--h60 {
    height: 60px;
    input {
      height: 60px !important;
      font-size: 14px !important;
      padding: 0 40px;
    }
    span {
      width: 40px !important;
    }
  }
  input {
    width: 100%;
    height: 40px;
    padding: 0 30px;
    background: #f4f4f4;
    text-align: center;
    border: none;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #252525;
  }
  span {
    display: block;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 0;
    height: 100%;
    width: 30px;
  }
  &__plus {
    right: 0;
    &::after {
      content: "";
      background-color: #252525;
      position: absolute;
      z-index: 1;
      height: 2px;
      width: 12px;
      top: 50%;
      left: 50%;
      margin: -1px 0 0 -6px;
    }
    &::before {
      content: "";
      background-color: #252525;
      position: absolute;
      z-index: 1;
      height: 12px;
      width: 2px;
      top: 50%;
      left: 50%;
      margin: -6px 0 0 -1px;
    }
  }
  &__minus {
    left: 0;
    &::after {
      content: "";
      background-color: #252525;
      position: absolute;
      z-index: 1;
      height: 2px;
      width: 12px;
      top: 50%;
      left: 50%;
      margin: -1px 0 0 -6px;
    }
  }
}
input:focus,
input:hover {
  outline: none !important;
  box-shadow: none;
}
.ml-10 {
  margin-left: 10px;
}