@media screen and (max-width: 1400px) {
  .go__btn span {
    font-size: 11px;
  }
}
@media screen and (max-width: 1199px) {
  .go__header__bottom .navbar-nav > li {
    padding-right: 10px;
  }
}

@media screen and (max-width: 991px) {
  .go__page-product__images {
    margin-bottom: 30px;
  }
  .go__coming-soon__left {
    padding-top: 50px;
  }
  .go__coming-soon__title {
    padding: 20px 0 30px;
    margin: 0;
  }
  .go__coming-soon {
    height: auto;
  }
  .go__coming-soon__right {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: auto;
  }
  .go__coming-soon__right:after {
    display: none;
  }
  .go__coming-soon__right__road {
    width: 200vw;
  }
  .go__coming-soon__right__wrap {
    padding-left: 0;
    justify-content: center;
  }
  .go__coming-soon {
    background: #383838;
  }
  .go__header {
    background-color: #fff;
  }
  .go__header__top__contacts {
    text-align: right;
  }
  .go__header__mob-row {
    position: relative;
    display: flex;
    background-color: #2a2a2a;
  }
  .go__header__top__left-mob {
    display: flex !important;
    align-items: center;
    width: 50%;
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 100%;
      width: 50vw;
      background-color: #2a2a2a;
      z-index: 10;
      height: 100%;
    }
  }
  .go__header__top__right {
    width: 50%;

    &::before {
      width: 50vw;
      transform: none;
      right: auto;
      left: 100%;
    }
  }
  .go__header__search {
    display: none;
  }
  .go__header__top__icons {
    justify-content: flex-end;
    width: 100%;
  }
  .go__home-slider:after {
    border-bottom-width: 40px;
  }
  .go__home-slider__footer {
    bottom: -40px;
  }
  .go__home-slider {
    overflow: visible;
  }
  .go__home-slider__item__img img {
    height: 430px;
  }
  .go__home-slider__nav {
    display: none !important;
  }
  .go__header__search--mob {
    display: flex !important;

    .go__header__search__open {
      display: block;
      color: #fff;
    }
  }
  .go__header__mob-toggle {
    display: inline-flex;
    align-items: center;
    color: #fff;
    background: transparent;
    text-transform: uppercase;
    font-family: 'Russo One';
    font-size: 18px;
    line-height: 1;
    border: none;
    padding: 5px 0;

    .icon {
      margin-right: 10px;
      color: #cc0000;
    }

    &:hover,
    &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
  .go__header__bottom {
    position: absolute;
    z-index: 220;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;

    &::before,
    &::after {
      display: none;
    }
  }
  .go__header__nav {
    width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .active_menu {
    .go__header__bottom {
      background-color: #fff;
      height: 100vh;
      width: 100%;
      z-index: 220;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
  .go__header__bottom {

    .navbar-nav {
      display: block;
      z-index: 100;
      background-color: #fff;

      & > li {
        position: relative;
        padding: 0;
        max-width: 548px;
        margin: 0 auto;
        width: 100%;

      }
    }
  }
  .go__header__bottom .navbar-nav .go__header__nav__level1 {
    display: flex;
    align-items: center;
    height: 34px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #d9d9d9;
    color: #252525;
    font-size: 12px;
    padding: 0 16px;

    &::before {
      display: none !important;
    }

    .go__header__nav__level1__more {
      display: flex;
      margin-left: auto;
      height: 34px;
      width: 40px;
      justify-content: flex-end;
      align-items: center;
      margin-right: -10px;
      padding-right: 10px;

      svg {
        transform: rotate(-90deg);
      }
    }
  }
  body.active_menu {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: block;

    .go {
      height: 100vh;
      overflow: hidden;
    }

    .go::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 30;
      background-color: #fff;
    }
  }
  .go__header {
    z-index: 50;
  }
  .go__header__nav__navbar__mob-top {
    display: flex;
    height: 48px;
    position: relative;
    z-index: 110;
    align-items: center;
    margin: 0 auto;
    max-width: 548px;
    width: 100%;
    padding: 0 15px;
  }
  .go__header__mob-toggle__close {
    margin-left: auto;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .go__header__nav__navbar__mob-top__left {
    font-family: 'Russo One';
    font-size: 13px;
    line-height: 1;
    display: flex;
    align-items: center;

    .icon {
      margin-right: 10px;
      color: #cc0000;
    }
  }
  .active_level2 {
    .go__header__nav__navbar__mob-top {
      display: none;
    }

    .navbar-nav > li:not(.active) {
      display: none;
    }

    .navbar-nav > li.active {
      .navbar-nav__sub {
        opacity: 1;
        visibility: visible;
        display: block !important;
        position: relative;
        z-index: 110;

        .row {
          display: block;
          margin: 0;

          & > div {
            display: block;
            margin: 0;
            padding: 0;
          }
        }

        .go__header__nav__level1__more {
          display: none;
        }
      }

      .go__header__nav__level1 {
        border-bottom: none;
        background: transparent;
        width: calc(100% - 40px);
        height: 48px !important;
        position: relative;
        z-index: 200;


        .go__header__nav__level1__more {
          display: none;
        }

        .go__header__nav__level1__back {
          display: flex;
          align-items: center;
          padding-right: 10px;
        }
      }

      .go__header__mob-toggle__close {
        display: flex;
        position: absolute;
        z-index: 110;
        top: 5px;
        right: 15px;
        height: 38px;
        align-items: center;
        justify-content: flex-end;
        width: 30px;
      }
    }
  }
  .navbar-nav__sub {
    position: relative;
    right: auto;
    left: auto;
    padding: 0;
    margin-top: 0;
    top: auto;
    display: none;

    .navbar-nav__sub__level1 {
      display: flex;
      align-items: center;
      padding: 0 16px;
      background-color: #f4f4f4;
      border-bottom: 1px solid #d9d9d9;
      font-size: 12px;
      min-height: 34px;
      margin: 0;
    }

    .navbar-nav__sub__more {
      display: none;
    }

    .navbar-nav__sub__level2 {
      background-color: #fff;
      padding-bottom: 0;
      display: none !important;

      li {
        border-bottom: 1px solid #d9d9d9;

        a {
          padding: 3px 16px;
          display: flex;
          align-items: center;
          font-size: 11px;
          line-height: 16px;
          min-height: 33px;
        }
      }
    }
  }
  .navbar-nav--level1 > li > a {
    display: flex;
    font-size: 12px !important;
    line-height: 16px !important;
    min-height: 34px;
    padding: 0 16px;
    align-items: center;
    background-color: #f4f4f4;
    border-bottom: 1px solid #d9d9d9;
    color: #252525 !important;
    height: auto !important;
  }
  .go__header__nav__level2__toggle {
    display: block;
    margin-left: auto;
  }
  .navbar-nav__sub .active_level2 {
    .navbar-nav__sub__level2 {
      display: block !important;
    }

    .js-level2 .go__header__nav__level2__toggle svg {
      transform: rotate(-180deg);
    }
  }
  .navbar-nav__sub__level2, .navbar-nav__sub__level2 li {
    padding-bottom: 0;
  }
  .go__header__dop-nav {
    top: 0;
    z-index: 210;
  }
  .go__header__dop-nav__header-mob {
    display: block;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;

    .container {
      position: relative;

      img {
        display: block;
        margin: 0 auto;
      }

      .go__header__dop-nav__close {
        position: absolute;
        z-index: 30;
        top: 0;
        right: 15px;
        height: 19px;
        display: flex;
        align-items: center;
      }
    }
  }
  .go__header__dop-nav__row {
    text-align: center;

    .go__header__dop-nav__list {
      padding-bottom: 30px;
    }

    .go__header__dop-nav__col-soc {
      order: 3;

      .go__soc {
        justify-content: center;
      }
    }
  }
  .tpad50 {
    padding-top: 30px;
  }
  .go__footer-col-nav {
    display: none;
  }
  .atb__footer__logo {
    display: block;
    margin: 0 auto;
    width: 215px;
  }
  .atb__footer__contacts {
    text-align: center;
    padding-bottom: 20px;
  }
  .atb__footer .go__soc {
    justify-content: center;
  }
  .atb__footer__bottom {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .go__header__search.active_search {
    position: fixed;
    z-index: 220;
    top: 0;
    left: 0;
    right: 0;
    padding: 7px 0;
    background-color: #fff;
    display: block;

    .go__header__search__form {
      max-width: 548px;
      padding: 0 16px;
      width: 100%;
      margin: 0 auto;
      display: flex;

      .go__header__search__mob-back {
        display: flex;
        align-items: center;
        width: 30px;
      }

      .go__header__search__inp {
        flex-grow: 1;
        width: 100px;
        border-bottom: none;
        background: #e9e9e9;
        padding: 0 15px;
        color: #131313;
        margin-right: 15px;

        &::placeholder {
          color: #131313;
        }
      }

      .go__header__search__submit {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: auto;
        right: auto;
        width: 70px;
        background-color: #ba0000;
        height: 30px;
        overflow: hidden;

        &::before {
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          right: 50%;
          top: 0;
          transform: skew(45deg);
          width: 60px;
          z-index: 2;
          background-color: #c00;
        }

        &::after {
          content: "";
          display: block;
          height: 100%;
          margin-right: 30px;
          position: absolute;
          right: 50%;
          top: 0;
          width: 100%;
          z-index: 2;
          background-color: #c00;
        }

        svg {
          display: none;
        }

        span {
          display: block;
          position: relative;
          z-index: 20;
          color: #fff;
          font-family: Montserrat;
          font-size: 10px;
          font-weight: 700;
          line-height: 18px;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  }
  .go__header__top__right {
    position: relative;
    z-index: 210;
  }
  .go__brends-list__item__letter-spisok li {
    width: 50%;
  }

  .go__filter-list.active_filter {
    display: block;
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f4f4f4;
    .go__filter-list__header {
      display: block;
      background-color: #fff;
      &__wrap {
        max-width: 570px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
      }
      span {
        font-family: 'Russo One';
        font-size: 13px;
        text-transform: uppercase;
        line-height: 1;
        color: #252525;
      }
    }
  }
  .atb__res-filter {
    display: none;
  }
  .go__filter-list__body {
    max-width: 570px;
    padding: 10px 15px;
    display: block;
    margin: 0 auto;
  }
  .atb__accordion__item__header {
    font-size: 12px;
  }
  .go__order-info {
    padding: 0 10px;
  }
  .go__order__collapse__order-top {
    padding: 15px 40px 10px 0;
  }
  .go__order-info .go__order__collapse__toggle {
    margin-top: 0;
    top: 10px;
    width: 30px;
    height: 30px;
  }
  .go__order-info__number {
    font-size: 12px;
    padding-bottom: 10px;
  }
  .go__order-info__status {
    margin-bottom: 10px;
  }
  .go__order-info__btn {
    padding-top: 10px;
    flex-direction: row-reverse;
    padding-right: 0;
  }
  .go__order-info__count, .go__order-info__top-label {
    font-size: 11px;
  }
  .go__order-info__top-label {
    padding-bottom: 10px;
  }
  .go__order-info__top-cost {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .go__home-slider__item__text .h2, .go__home-slider__item__text h2 {
    font-size: 24px;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .go__page-product__footer {
    padding-bottom: 50px;
  }
  .go__brends-list__item__letter-spisok li {
    width: 100%;
  }
  .go__btn {
    min-height: 48px;
  }
  .go__btn--size1 {
    width: 160px;
  }
  .go__header__top__contacts .time {
    display: none;
  }
  .go__header__top__contacts .phone {
    font-size: 12px;
  }
  .go__header__top__left {
    height: 46px;
  }
  .go__header__logo {
    img {
      width: 160px;
      height: auto;
    }
  }
  .go__header__top__right {
    height: 36px;

    &::after {
      left: -20px;
    }
  }
  .go__header__lk-link {
    height: 36px;
  }
  .go__header__top__icons > div {
    margin-left: 5px;
    width: 25px;
    min-width: 25px;
  }
  .go__header__top__login .icon,
  .go__header__top__cart .icon {
    width: 18px;
    height: 18px;
  }
  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    width: 16px;
    height: 1.5px;
  }
  .hamburger-box {
    height: 12px;
    width: 16px;
  }
  .go__header__top__cart__number {
    width: 14px;
    height: 14px;
    font-size: 8px;
    line-height: 14px;
    top: -2px;
  }
  .go__home-slider__pagination .swiper-pagination-bullet {
    width: 40px;
    margin-left: 10px;
  }
  .go__home-slider__pagination .swiper-pagination-bullet:before {
    width: 25px;
  }
  .go__header__mob-toggle {
    font-size: 10px;

    .icon {
      width: 18px !important;
      height: 18px !important;
    }
  }
  .go__header__search__open .icon {
    width: 18px !important;
    height: 18px !important;
  }
  .go__header__top__right {
    width: 45%;
    padding-left: 0;
  }
  .go__header__top__left-mob {
    width: 55%;
  }
  .go__title .h2, .go__title h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .go__title {
    padding-bottom: 20px;
  }
  .fpad30 {
    padding-bottom: 15px;
  }
  .go__carusel {
    margin: 0 0 30px;

    &__nav {
      display: none;
    }

    .swiper {
      overflow: visible;
    }

    .go__carusel__product-item {
      padding: 0;
    }
  }
  .only-pc {
    display: none;
  }
  .go__btn--h40 {
    min-height: 40px !important;
  }
  .go__carusel__product-item{
    width: 190px;
    .go__product-item {

    }
    .go__product-item__bay-col {
      width: 60px;
      padding-left: 0;

      .go__btn {
        color: #fff;

        .only-mob {
          position: relative;
          z-index: 10;
        }
      }
    }
  }
  .go__product-item__counter-col {
    flex-grow: 1;
  }
  .only-mob {
    display: block;
  }
  .go__product-item {
    padding: 10px;
  }
  .swiper-scrollbar {
    margin-top: 20px;
    height: 3px;
    background-color: #d9d9d9;
    overflow: hidden;

    .swiper-scrollbar-drag {

      height: 3px;

      &::after {
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;
        z-index: 1;
        background-color: #c00;
        transform: skew(-45deg);
        top: 0;
        left: 0;
      }
    }
  }
  .fpad50 {
    padding-bottom: 20px;
  }

  .atb__category-link img {
    height: 117px;
  }
  .atb__category-link__caption {
    left: 20px;
    bottom: 20px;

    span {
      padding: 0;
      font-size: 16px;
    }
  }
  .atb__footer__submit__label {
    padding: 15px 80px 15px 0;
    background-position: 100% 50%;
    font-size: 16px;
  }
  .atb__footer__submit {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .atb__footer__submit__right {
    padding: 0;
    background: transparent;

    &::before,
    &::after {
      display: none;
    }

    .d-flex {
      flex-direction: column;
    }

    .atb__footer__submit__form__inp-col {
      padding: 0 0 30px;
      width: 100%;
    }

    .atb__footer__submit__form__submit-col {
      width: 100%;
    }
  }
  .go__box-catalog {
    padding: 20px;
  }
  .go__title {
    padding-bottom: 20px;
  }
  .go__brends-list__item {
    padding: 15px 0;
  }
  .go__brends-list__item__letter {
    width: 30px;
    min-width: 30px;
    font-size: 16px;
  }
  .go__brends-list__item__letter-spisok {
    padding-left: 15px;

    li {
      a {
        font-size: 12px;
      }
    }
  }
  .go__filter-list {
    display: none;
  }

  .go__filter-catalog {
    border-bottom: none;
    position: relative;
    z-index: 40;
    margin-bottom: 10px;

    .atb__accordion__item__header {
      height: 36px;
      min-height: 36px;
      background-color: #e9e9e9;
      padding-left: 10px;
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
      color: #252525 !important;

      .icon {
        margin-right: 10px;
        width: 8px;
        height: auto;
      }
    }

    .accordion-collapse {
      position: absolute;
      z-index: 120;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #fff;

      .atb__accordion__item__body {
        box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
        padding-top: 5px;

        .atb__list-categories {
          padding-bottom: 0;
        }
      }

      a {
        display: block;
        padding: 0 10px;
      }
    }
  }

  .go__mob-filter-toggle {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #252525;
    margin-bottom: 10px;
    background-color: #e9e9e9;
  }
  .atb__sort-top {
    margin-top: -15px;

    &__label {
      display: none;
    }
    .dropdown-toggle {
      width: 100%;
      height: 36px;
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
      color: #252525;
      background-color: #e9e9e9;
      display: flex;
      padding: 0 10px;
      align-items: center;
      justify-content: space-between;
      .icon {
        position: relative;
        right: auto;
        top: auto;
        width: 16px;
        height: 16px;
      }
    }
  }
  .atb__sort-top__list {
    width: 100% !important;
  }
  .mb-25 {
    margin-bottom: 15px;
  }
  .h2, h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .go__faq-sb {
    display: none;
  }
  .go__faq-tab {
    &__mob-caption {
      display: block;
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 10px;
      font-family: 'Russo One';
    }
    .tab-pane {
      margin-bottom: 15px;
      display: block !important;
      opacity: 1 !important;
    }
  }
  .atb__accordion__item--v2 .atb__accordion__item__header {
    font-size: 13px;
    line-height: 20px;
  }
  .atb__accordion__item--v2 .atb__accordion__item__body {
    font-size: 11px;
  }
  .h1, h1 {
    font-size: 20px;
  }
  .go__lk-link {
    display: flex;
    align-items: center;
    padding: 20px;
    height: auto;
    &__ico {
      margin: 0;
      width: 60px;
      height: 60px;
    }
    &__title {
      padding-left: 20px;
      font-size: 12px;
    }
  }
  .go__lk-left {
    display: none;
  }
  .tpad25 {
    padding-top: 10px;
  }
  .go__item-product__right {
    display: block;
    padding: 0 20px 0 10px;
    margin-bottom: auto;
  }
  .go__order-info__item .go__order-info__item__title {
    width: 100%;
    padding: 0 0 10px 0;
    font-size: 12px;
    display: block;
  }
  .go__order-info__item .order-info__item__count {
    margin: 0;
    width: 100%;
    display: flex;
    padding: 0 0 10px 0;
    font-size: 12px;
  }
  .order-info__label-mob {
    display: block;
    font-size: 12px;
    padding-right: 10px;
  }
  .order-info__item__col-price {
    display: flex;
    position: relative;
    padding: 0 0 0 55px;
    flex-direction: column !important;
    width: 100% !important;
    .order-info__label-mob {
      position: absolute;
      z-index: 1;
      bottom: 2px;
      left: 0;
    }
    .order-info__item__old-price {
      width: auto;
      margin-right: auto;
      font-size: 14px !important;
      line-height: 16px !important;
      &::after {
        top: 8px !important;
      }
    }
  }
  .go__order-info__item .order-info__item__col-price .order-info__item__price {
    font-size: 14px;
  }
  .order-info__footer-row {
    display: block;
    .order-info__footer {
      padding-right: 0;
      width: 100%;
      padding-bottom: 5px;
      p {
        margin-bottom: 8px;
      }
    }
    .order-info__footer-itog {
      width: 100%;
      padding: 20px 10px 10px;
    }
    .order-info__footer--itog-btn {
      padding-top: 10px;
    }
  }
  .order-info__footer--itog-row .label {
    font-size: 12px;
  }
  .order-info__footer--itog-row .val {
    font-size: 14px;
  }
  .order-info__footer--itog-row.fonts20 .val {
    font-size: 18px;
  }
  .order-info__footer--itog-row {
    padding-bottom: 10px;
  }
  .go__page-product__images__big .go__carusel__nav {
    display: flex !important;
  }
  .go__page-product__images__min {
    display: none;
  }
  .go__page-product__right {
    padding:0 0 30px 0 ;
  }
  .go__page-product__right__top {
    border-top: 1px solid #e9e9e9;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .go__page-product__images__item {
    height: 400px;
    padding: 10px 30px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .fpad25 {
    padding-bottom: 15px;
  }
  .go__counter-box--h60 input {
    height: 48px !important;
  }
  .go__counter-box--h60 {
    height: 48px !important;
  }
  .go__product-item__price .price--big {
    font-size: 20px;
    line-height: 28px;
  }
  .go__page-product__info-box {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .go__page-product__info-box__item {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .go__page-product__specifications {
    padding-top: 20px;
  }
}

@media screen and (max-width: 575px) {
  .go__coming-soon .atb__footer__submit__form__wrap .d-flex {
    display: block !important;
  }
  .go__coming-soon .atb__footer__submit__form__inp-col {
    padding-right: 0;
    width: 100%;
    padding-bottom: 30px;
  }
  .go__coming-soon .atb__footer__submit__form__submit-col {
    min-width: 100%;
    width: 100%;
  }
  .go__coming-soon .atb__footer__submit__form__submit-col .go__btn {
    width: 100%;
    text-align: center;
  }
  .go__coming-soon__right__wrap {
    height: 180px;

    img {
      height: 140px;
      width: auto;
    }
  }
  .go__coming-soon__right__road {
    height: 180px;
    background-size: auto 5px;
  }
  .go__coming-soon__right__road:after {
    background-size: auto 5px;
  }
  .go__coming-soon__title {
    font-size: 20px;
  }
  .go__coming-soon__subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .go__coming-soon__left img {
    width: 230px;
    height: auto;
  }
  .go__page-404__wrap {
    img {
      width: 240px;
      height: auto;
    }

    h1 {
      font-size: 20px;
      line-height: 1.3;
    }
  }
  .go__page-404 {
    padding-bottom: 60px;
    margin-top: -15px;
  }
  .go__page-top {
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-top: 10px;

    h1 {
      font-size: 20px;
      line-height: 1.3;
      padding-top: 10px;
    }
  }
  .atb__breadcrumb a, .atb__breadcrumb span,
  .atb__breadcrumb li:not(:last-child):after {
    font-size: 8px;
  }
  .atb__breadcrumb li:not(:last-child):after {
    margin-left: 5px;
  }
  .atb__breadcrumb li:not(:last-child) {
    padding-right: 5px;
  }
  .go__text {
    p,
    & li {
      font-size: 11px;
      line-height: 18px;
    }
  }
  .go__blog__item__title {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .go__blog__item__img {
    margin-bottom: 10px;
  }
  .go__blog__item__date {
    padding-bottom: 10px;
    font-size: 12px;
  }
  .atb__pagination__more {
    margin-bottom: 15px;
  }
  .atb__pagination__nav li a, .atb__pagination__nav li span {
    width: 30px;
    height: 30px;
  }
  .atb__pagination__nav__prev svg,
  .atb__pagination__nav__next svg {
    width: 14px;
    height: 12px;
  }
  .go__header__lk-link:hover .go__header__lk-link__sub-menu {
    opacity: 0;
    visibility: hidden;
  }
  .go__header__lk-link__sub-menu {
    display: none;
    margin-top: 0;
  }
  .go__header__lk-link__sub-menu.active_menu {
    position: fixed;
    z-index: 220;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1 !important;
    visibility: visible !important;
    width: 100vw;
    background-color: #f4f4f4;
    box-shadow: none;
    padding: 0;
  }
  .go__header__lk-mob-header {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    justify-content: space-between;
    span {
      text-transform: uppercase;
      font-family: 'Russo One';
      font-size: 13px;
      line-height: 1.1;
      display: flex;
      align-items: center;
      .icon {
        margin-right: 10px;
        color: #cc0000;
      }
    }
  }
  .go__page-product {
    margin-top: -15px;
    &::after {
      top: 130px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 2;
      left: 0;
      width: 100%;
      height: 130px;
      background-color: #131313;
      top: 0;
    }
  }
  .col-w20 {
    width: 150px;
    padding-right: 20px;
  }
  .fonts-13 {
    font-size: 11px;
    line-height: 20px;
  }
  .go__page-product__status {
    text-align: right;
  }
  .hidden-575 {
    display: none;
  }
  .go__page-product__specifications__list {
    margin-left: -20px;
    margin-right: -20px;
  }
  .go__page-product__specifications__item dt {
    font-size: 11px;
  }
  .go__page-product__specifications__item dd {
    font-size: 11px;
  }
  .go__page-product__tab {
    display: none;
  }
  .go__page-product__tab__mob-caption {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #252525;
    font-family: 'Russo One';
    padding-bottom: 10px;
    border-bottom: 3px solid #d9d9d9;
  }
  .go__modal {
    .modal-content {
      padding: 50px 20px;
    }
    .h2 {
      text-align: center;
      margin-bottom: 15px !important;
      span {
        display: block;
      }
    }
  }
  .go__page-product__right__top .d-flex {
    flex-wrap: wrap;
  }
  .go__tab-content .tab-pane {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  .go__single-page {
    margin-top: -15px;
  }
  .go__single-page__links-page {
    font-size: 14px;
    line-height: 20px;
  }
  .go__single-page__tags {
    padding: 10px 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 440px) {
  .go__page-product__sku__item {
    display: block !important;
    .col-w20 {
      width: 100%;
    }
  }
  .go__page-product__images__item {
    height: 300px;
  }
  .go__page-product__status {
    margin-left: auto;
  }
  .go__page-product__data {
    margin-left: 0;
    padding-top: 5px;
    width: 100%;
  }
  .go__single-page:before {
    height: 50px;
  }
  .go__single-page:after {
    top: 50px;
  }
}