.go__page-product {
  position: relative;
  z-index: 1;
  margin-top: -45px;
  &:after {
    border-top: 120px solid #131313;
    border-right: 100vw solid transparent;
    top: 0;
    content: "";
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
    z-index: 2;
  }
  &__wrap {
    position: relative;
    z-index: 10;
  }
  &__images {
    position: relative;
    z-index: 22;
    background-color: #fff;
    margin-bottom: 80px;

    .go__carusel__nav.next {
      right: 10px;
      background-color: #f4f4f4;
    }
    .go__carusel__nav.prev {
      left: 10px;
      background-color: #f4f4f4;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 520px;
      padding: 15px;
    }
  }
}
.product-thumbnail {
  position: relative;
  height: 0;
  padding-top: 100%;
  &__inner {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid #e9e9e9;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      display: block;
      opacity: 0.5;
    }
  }
}
.swiper-slide-thumb-active {
  .product-thumbnail__inner {
    border-color:#2a2a2a;
    img {
      opacity: 1;
    }
  }
}
.go__page-product__right {
  padding: 60px 0 50px 30px;
  &__top {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e9e9e9;
    .go__page-product__art {
      font-size: 13px;
      line-height: 18px;
      b {
        font-weight: bold;
      }
    }
  }
}
.tpad25 {
  padding-top: 25px;
}
.col-w20 {
  width: 220px;
  padding-right: 30px;
}
.go__page-product__info-box {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  &__item {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    color: #252525;
    text-decoration: none;
    .icon {
      margin-right: 15px;
    }
  }
}
h2 {
  color: #252525;
  font-family: 'Russo One';
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 30px 0;
}
.go__page-product__specifications {
  padding-top: 50px;
  &__item {
    padding: 4px 5px;
    dl {
      min-height: 40px;
      margin: 0;
    }
    dt {
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      color: #252525;
      margin: 0;
    }
    dd {
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      color: #252525;
      margin: 0;
    }
    &:nth-child(2n + 1) {
      background-color: #f8f8f8;
    }
  }
}
.go__page-product__footer {
  padding-bottom: 100px;
}
.go__page-product__tab {
  position: relative;
  overflow: hidden;
  padding-bottom: 3px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #d9d9d9;
    width: 100%;
  }
  &__item {
    padding: 0;
    margin-right: 30px;
    .nav-link {
      padding: 0 0 20px 0;
      color: #252525;
      font-family: 'Russo One';
      font-size: 18px;
      line-height: 24px;
      position: relative;
      z-index: 10;
      &::before {
        content: '';
        position: absolute;
        bottom: -3px;
        left: -2%;
        width: 104%;
        height: 3px;
        background: #cc0000;
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
        transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
        -webkit-transform: scale3d(0, 5, 1) skew(-45deg,0);
        -ms-transform: scale3d(0, 5, 1) skew(-45deg,0);
        transform: scale3d(0, 5, 1) skew(-45deg,0);
      }
      &.active {
        &::before {
          -webkit-transform: scale3d(1, 1, 1) skew(-45deg,0);
          -ms-transform: scale3d(1, 1, 1) skew(-45deg,0);
          transform: scale3d(1, 1, 1) skew(-45deg,0);
        }
      }
      &:not(.active) {
        cursor: pointer;
      }
    }
  }
}
.go__text {
  color: #252525;
  p {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding-bottom: 12px;
  }
  b {
    font-weight: bold;
  }
  a {
    text-decoration: none;
    border-bottom: 1px solid #cc0000;
    &:hover {
      border-color: transparent;
    }
  }
}
.go__page-product__data {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}
.border-dotted {
  border-bottom: 1px dotted #cc0000;
  &:hover {
    border-color: transparent;
  }
}
.tab-content {
  .go__carusel {
    margin-bottom: 0 !important;
  }
}
.mb-25 {
  margin-bottom: 25px;
}